name: Metrics

on:
  schedule:
    - cron: "0 */6 * * *"  # Atualiza a cada 6 horas
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Usuário
          user: denalth

          # Template avançado
          template: terminal
          base: header, activity, community, repositories, metadata

          # Configurações visuais
          config_timezone: America/Fortaleza
          config_twemoji: yes
          config_animations: yes
          config_display: large

          # Plugins ativados
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: percentage
          plugin_languages_limit: 10

          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: compact

          plugin_activity: yes
          plugin_activity_limit: 10
          plugin_activity_days: 14
          plugin_activity_filter: all

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_lines: yes

          plugin_repositories: yes
          plugin_repositories_featured: denalth/denalth

          plugin_stars: yes
          plugin_stars_limit: 5

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          # Saída
          filename: metrics.svg
