name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *"  # Atualiza a cada 12 horas
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Usuário
          user: denalth
          template: classic
          base: header, activity, community, repositories, metadata

          # Tema
          config_timezone: America/Fortaleza
          config_display: large
          config_padding: 8, 12
          config_animations: yes
          config_twemoji: yes

          # Plugins ativados
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: percentage
          plugin_languages_limit: 8

          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact

          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: all

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_lines: yes

          plugin_repositories: yes
          plugin_repositories_featured: denalth/denalth

          plugin_stars: yes
          plugin_stars_limit: 4

          # Saída
          filename: metrics.svg
